<div class="container my-5">
  <% if current_user.artist %>
    <div class="row">
      <div class="col-sm-12">
        <h4>Customer Orders</h4>
        <div class="simple-card p-3 rounded-lg d-flex justify-content-between">
          <table class="w-100">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Client</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Profit</th>
              <th>Status</th>
              <th>Accept/Decline</th>
            </tr>
            <% current_user.bookings_as_owner.order("start_time ASC").each do |booking| %>
            <tr>
              <%= render "table_rows", :booking => booking %>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    
    </div>
    <br>
  <% end %>
  
  <% if !current_user.artist || current_user.bookings.present? %>
    <div class="row">
      <div class="col-sm-12">
        <h4>Bookings You've Made</h4>
        <div class="simple-card p-3 rounded-lg d-flex justify-content-between">
          <table class="w-100">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Artist</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Price</th>
              <th>Status</th>
              <th>Edit booking time</th>
              <th>Leave a review</th>
            </tr>
            <% current_user.bookings.order("start_time ASC").each do |booking| %>
            <tr>
              <%= render "table_rows", :booking => booking %>
            <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>
