<div class="d-flex mr-3 justify-content-between border-right">
  <div class="booking-card p-3 m-1">
    <h3>Service Title</h3>
    <p class="booking-price">$19.99</p>
    <p>Service rating???</p>
    <%= link_to "Book Artist", "", class: "main-button ml-2", style: "width:150px;" %>
  </div>
</div>
