<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top img-responsive" src="<%= asset_path "background4" %>" alt="Job title here">
      <div class="card-body">
        <h5 class="card-title">Service/Booking #1</h5>
        <p class="card-text">lerum</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Service started 3 mins ago</small>
      </div>
    </div>
<%#= 1 card ends here, all cards are inside card-deck (bootstrap) %>
    <div class="card">
      <img class="card-img-top img-responsive" src="<%= asset_path "test_booking" %>" alt="Job title here">
      <div class="card-body">
        <h5 class="card-title">Service/Booking #2</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Service started 13 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top img-responsive" src="<%= asset_path "test_booking2" %>" alt="Job title here">
      <div class="card-body">
        <h5 class="card-title">Service/Booking #3</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Service started 30 mins ago</small>
      </div>
    </div>
  </div>
</div>
