<div class="card-hello">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="art-img" />
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class='avatar-bordered'/>
      <div class="card-hello-info">
        <h2>Title here</h2>
        <p>Short description here!</p>
      <div>
</div>
