<div class="card-hello">
  <% if service.photos.attached? %>
    <%= image_tag(service.photos.first, class: 'art-img') %>
  <% else %>
    <%# TODO: placeholder goes here %>
  <% end %>
  <div class="card-hello-info">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class='service-avatar-bordered'/>
    <h3 class="service-title"><%= service.title %></h3>
    <p class="card-price"><i class="yen fas fa-yen-sign"><%= service.price %></i></p>
    <p class="card-rating"><i class="star fas fa-star">Rating</i></p>
  </div>
  <%= link_to service_path(service), class: 'card-hello-link-wrapper' do %><% end %>
</div>
