<div class="card-hello">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="art-img"/>
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class='avatar-bordered'/>
  <div class="card-hello-info">
    <h3>Title here</h3>
    <p>Short description here!</p>
    <p><i class="yen fas fa-yen-sign">Price</i></p>
  </div>
</div>
