<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Find an Artist Near You</h1>    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Browse Artists", root_path, class: "main-button" %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="cards">
      <div class="card-hello">
          <%= render 'shared/card.html.erb'%>
        <div class="card-hello-info">
        </div>
      </div>
    </div>
  </div>
</div>
