.banner-container {
  // height: 800px;
  background-size: contain;
  background-position: center;
}

.banner {
  padding: 125px 0;
}

.banner h1 {
  font-size: 54px;
  font-weight: 900;
}

.banner p {
  font-family: $headers-font;
  font-size: 18px;
  opacity: .7;
}

.banner-wrapper {
  background: linear-gradient(341deg, rgba(172, 29, 141, 0.08), rgba(255, 0, 0, 0) 70.71%), 
              linear-gradient(127deg, rgba(255, 255, 255, 0.4), rgba(0, 255, 0, 0) 70.71%), 
              linear-gradient(336deg, rgba(174, 174, 174, 0.1), rgba(0, 0, 255, 0) 70.71%);
}

.banner-wrapper > .container {
  position: relative;

}

.banner-img {
  position: absolute;
  bottom: 10%;
  right: 0;
}
