.navbar-wrapper {
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

#logo {
  width: 150px;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown {

  cursor: pointer;
}

i.fas.fa-bell {
  display: hidden;
}